---
layout: single
---

{{ content }}

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "About me" }}</h2>

<p><small>Hi there, my name is Xingyu (Alfred) Liu, a Ph.D. candidate at the Materials Science Department of Carnegie Mellon University. I have achieved a Master of Science in Materials Science &amp; Engineerng at Carnegie Mellon University, and my Bachelor of Science in Materials Scnece &amp; Engineering from Wuhan University of Technology. </small></p>
<p><small>I am interested in lots of activities and the list keeps growing. I love playing my violin and once built a symphony orchestra with my friends during my undergraduate life.   </small></p>
<p><img src="https://BLABABA.github.io/images/climbing_2.jpg" alt="Image of Climbing">  </p>
<p><small>I love exercising and recently started bouldering. Find me at Ascend! </small>  </p>

<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %} -->

<!-- {% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div> -->

<!-- {% include paginator.html %} -->
