---
layout: single
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "About me" }}</h3>

<p>Hi, my name is Xingyu (Alfred) Liu, a Computational Chemist at Meta. My work is about materials design/discovery for AR/VR devices.</p>

<p>Starting my early career as a materials researcher, I became a research assistant at <a href="http://sklwut.whut.edu.cn/rcdw/yjtd/">State Key Laboratory of Advanced Technology for Materials Synthesis and Processing</a> at Wuhan University of Technology, where I was studying carbon-based mesoscopic perovskite solar cells advised by Dr. Zhiliang Ku, and studying Cobalt-based pseudocapacitors advised by Dr. Liqiang Mai. After I joined <a href="https://www.noamarom.com">Prof. Marom's research group</a>, I shifted my focus to searching for singlet fission materials for their application in organic photovoltaic devices. My work was conducted with both machine learning technique and high-throughput calculations for hierarchical screening of large-scale experimental databases. I designed and developed automated workflow incorporating multi-level model training and materials sampling for generalized candidate search.</p>

<p>During the summer in 2021, I was a research scientist intern in the Accelerated Materials Design & Discovery (AMDD) team at <a href="https://www.tri.global">Toyota Research Institute</a>. I worked with Dr. Santosh Suram and Dr. Muratahan Aykol on understanding the effects on active learning agents through specifying learning range on high-throughput experimentation catalysts database. </p>

<p>After graduation, I joined Blizzard Entertainment as a Data Scientist. My work there was about on gaming AI development and computer graphics for art assests generation. </p>

<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %} -->

<!-- {% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div> -->

<!-- {% include paginator.html %} -->
