---
layout: single
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "About me" }}</h3>

<p>Hi, my name is Xingyu (Alfred) Liu, a fourth-year Ph.D. candidate in <a href="https://www.noamarom.com">Marom's Group</a> at Carnegie Mellon University.</p>

<p>My research focuses on searching for singlet fission materials for the application of organic photovoltaic devices. My work is conducted with both machine learning methods and high-throughput calculations for hierarchical screening of large-scale experimental databases. I designed and developed automated workflow incorporating multi-level model training and materials sampling for generalized candidate search.</p>

<p>Before joining CMU, I was a research assistant at <a href="http://sklwut.whut.edu.cn/rcdw/yjtd/">State Key Laboratory of Advanced Technology for Materials Synthesis and Processing</a> at Wuhan University of Technology, where I was studying carbon-based mesoscopic perovskite solar cells advised by Dr. Zhiliang Ku, and studying Cobalt-based pseudocapacitors advised by Dr. Liqiang Mai.</p>

<p>I was a summer intern in the Accelerated Materials Design & Discovery (AMDD) team at <a href="https://www.tri.global">Toyota Research Institute</a> from June to August 2021. I worked with Dr. Santosh Suram and Dr. Muratahan Aykol on understanding the effects on active learning agents through specifying learning range on high-throughput experimentation catalysts database. </p>

<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %} -->

<!-- {% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div> -->

<!-- {% include paginator.html %} -->
